{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="main_content" style ="margin: 100px;">

    <p>Ваши книги</p>

    {% for book_user in user_books %}

        <a href="media/{{book_user}}"><nav>{{book_user}}</nav></a>
        <nav>Страниц {{book_user.page}}</nav>

        {% comment %} <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 7%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div> {% endcomment %}

    {% endfor %}


    <form action="" method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}  
        {{form}}
        {% comment %} <input type="file" name="pdf_file" accept=".pdf"> {% endcomment %}
        <button type="submit">Upload</button> 

    </form>

</div>
{% endblock content %}