{% extends "base.html" %}

{% block content %}

    <p>Ваши книги</p>

    {% for book_user in user_books %}
        <a href="media/{{book_user}}"><nav>{{book_user}}</nav></a>
        <nav>Страниц {{book_user.page}}</nav>
    {% endfor %}


    <form action="" method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}  
        {{form}}
        {% comment %} <input type="file" name="pdf_file" accept=".pdf"> {% endcomment %}
        <button type="submit">Upload</button> 

    </form>
{% endblock content %}