{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="main">

    <p>Ваши книги</p>




  
          {% comment %} <form action="{% url "BookHub:count_read_pages" %}" method="POST">
            {% csrf_token %}
            {{form_read}} 
            <button type="submit" name="read_form">Upload</button> 
          </form>
    {% endcomment %}
<div class="container text-center">
    <div class="row row-cols-2">
        
      
{% for book_user in user_books %}
      <div class="col">
          <div class="pdf-container" id="pdf-container-{{ forloop.counter }}">
              <iframe id="pdf-iframe-{{ forloop.counter }}" class="fullscreen" src="http://127.0.0.1:8000/media/{{ book_user }}"></iframe>
              <button class="fullscreen-btn" onclick="toggleFullScreen('pdf-container-{{ forloop.counter }}')">Fullscreen</button>
              
              <!-- Кнопка открытия модального окна -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{ forloop.counter }}">
                  Indicate your current page
              </button>

              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 25%">25%</div>
              </div>
  
              <!-- Модальное окно для каждой книги -->
              <div class="modal fade" id="modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="modalLabel-{{ forloop.counter }}" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h1 class="modal-title fs-5" id="modalLabel-{{ forloop.counter }}">Specify the current page for "{{ book_user.title }}"</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form action="" method="POST">
                                  {% csrf_token %}
                                  <!-- Скрытое поле с id книги -->
                                  <input type="hidden" name="book_id" value="{{ book_user.id }}">
                                  {{ form_read }}
                                  <button type="submit" name="read_form">Save changes</button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  {% endfor %}
  
    </div>
</div>

        



    <form action="" method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}  
        {{form_book}}
        {% comment %} <input type="file" name="pdf_file" accept=".pdf"> {% endcomment %}
        <button type="submit" name="book_form">Upload</button> 

    </form>


    <nav aria-label="...">
        <ul class="pagination justify-content-center">

          <li class="page-item {% if not user_books.has_previous %} disabled {% endif %}" aria-current="page">
            <a class = "page-link" href="{% if user_books.has_previous %}?page={{user_books.previous_page_number}}{% else %}#{% endif %}">Previous</a>
          </li>

        

          {% for i in page_range %}
            <li class="page-item {% if user_books.number == i %} active {% endif %}"><a class="page-link" href="?page={{i}}">{{i}}</a></li> </li>
          {% endfor %}
          
          <li class="page-item {% if not user_books.has_next %} disabled {% endif %}" aria-current="page">
            <a class="page-link" href="{% if user_books.has_next %}?page={{user_books.next_page_number}}{% else %}#{% endif %}">Next</a>
         </li>
          
        </ul>
      </nav>


</div>

<script>
    function toggleFullScreen(containerId) {
        const container = document.getElementById(containerId);
        // Проверка, находится ли контейнер уже в полноэкранном режиме
        if (!document.fullscreenElement) {
            // Включаем полноэкранный режим
            if (container.requestFullscreen) {
                container.requestFullscreen();
            } else if (container.mozRequestFullScreen) { // Firefox
                container.mozRequestFullScreen();
            } else if (container.webkitRequestFullscreen) { // Chrome, Safari
                container.webkitRequestFullscreen();
            } else if (container.msRequestFullscreen) { // IE/Edge
                container.msRequestFullscreen();
            }
            // Изменяем класс контейнера для применения стилей полноэкранного режима
            container.classList.add('fullscreen');
        } else {
            // Выход из полноэкранного режима
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.mozCancelFullScreen) { // Firefox
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) { // Chrome, Safari
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) { // IE/Edge
                document.msExitFullscreen();
            }
            // Убираем стиль полноэкранного режима
            container.classList.remove('fullscreen');
            container.classList.add()
        }
    }
</script>
{% endblock content %}